*{
    background-color: whitesmoke;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.wrapper{
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
    height: 68vh;
    width: 25vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
}

.wrapper img{
    height: 125px;
    width: 125px;
    margin-top: 2vh;
    margin-left: 100px;
}

.wrapper h2, h3, h4, h6{
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper p{
    padding: 0rem 1rem ; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    height: 11vh;
    width: 25vw;
    border: none;
    background-color: rgba(37,199,163,255);
    color: white;
    border-radius: 0rem 0rem 1rem 1rem;
}